<div class="jumbotron w-50 mx-auto">
    <h1 class="text-center">Ingrese vehículo</h1> 
    <br>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"></span>
      </div>
      <input type="text" class="form-control" placeholder="Placa">
    </div>
    ó
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"></span>
      </div>
      <input type="text" class="form-control" placeholder="Ticket">
    </div>
    <br>
    <div class="row w-100">
      <div class="mx-auto">
        <button class="btn">Registrar salida</button>
      </div>
    </div>
</div>