<div class="row">

  <mat-grid-list cols="3" rowHeight="400px" class="w-100" gutterSize="40px">
  
    <mat-grid-tile>
      <mat-card>
        <a routerLink="/ingreso"><img class="card-img-top" src="assets/img/ingreso.jpg" alt=""></a>    
        <mat-card-content>
          <h4 class="text-center">
            <a routerLink="/ingreso">Ingreso</a>
          </h4>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>
        <a routerLink="/consulta"><img class="card-img-top" src="assets/img/consulta.jpg" alt=""></a>    
        <mat-card-content>
          <h4 class="text-center">
            <a routerLink="/consulta">Consulta</a>
          </h4>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card>
          <a routerLink="/salida"><img class="card-img-top" src="assets/img/salida.jpg" alt=""></a>    
          <mat-card-content>
            <h4 class="text-center">
              <a routerLink="/salida">Salida</a>
            </h4>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

  </mat-grid-list>
</div>