<form [formGroup]="ingresoForm">
  <div class="jumbotron w-50 mx-auto">
    <h1 class="text-center">Ingrese vehículo</h1> 
    <br>
    <div class="input-group">
      <mat-form-field class="w-100">
          <input matInput type="text" class="form-control" placeholder="Placa" formControlName="placa"
          [errorStateMatcher]="matcher">
          <mat-error *ngIf="ingresoForm.hasError('required', 'placa')">
              Por favor ingrese placa
            </mat-error>
      </mat-form-field>
    </div>
    <div class="input-group mt-1" *ngIf="esMotocicleta">
        <mat-form-field class="w-100">
          <mat-select  placeholder="Cilindraje" formControlName="cilindraje">
            <mat-option value="125"> 0 < 500 CC</mat-option>
            <mat-option value="501"> > 500 CC</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    <div class="d-flex">
        <div class="cc-selector mx-auto">
            <input checked="checked" id="check_carro" type="radio" name="vehiculo" [value]="C" (click)="changeTipoVehiculo('C')"/>
            <label class="drinkcard-cc carro" for="check_carro"></label>
            <input id="check_moto" type="radio" name="vehiculo" [value]="M" (click)="changeTipoVehiculo('M')"/>
            <label class="drinkcard-cc moto"for="check_moto"></label>
        </div>
    </div>
    <br>
    <div class="row w-100">
      <div class="mx-auto">
        <button class="btn" [disabled]="ingresoForm.invalid" (click)="registrarIngreso()">Registrar ingreso</button>
      </div>
    </div>
  </div>
</form>