/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
    padding-top: 54px;
  }
  
  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }
  
  .portfolio-item {
    margin-bottom: 30px;
  }
  
  .pagination {
    margin-bottom: 30px;
  }
  
  #contenido-ppal{
    min-height: 618px;
  }

  input{
    box-shadow: none !important;
    background-color: none !important;
  }